.card-body
			{
				margin: 0;
			}
					.switch {
					  position: relative;
					  display: inline-block;
					  width: 40px;
					  height: 20px;
					}

					
					.switch input {
					  opacity: 0;
					  width: 0;
					  height: 0;
					  display: inline;
					}

					
					.slider {
					  position: absolute;
					  cursor: pointer;
					  top: 0;
					  left: 0;
					  right: 0;
					  bottom: 0;
					  background-color: #ccc;
					  -webkit-transition: .4s;
					  transition: .4s;
					}

					.slider:before {
					  position: absolute;
					  content: "";
					  height: 16px;
					  width: 16px;
					  left: 2px;
					  bottom: 2px;
					  background-color: white;
					  -webkit-transition: .4s;
					  transition: .4s;
					}

					input:checked + .slider {
					  background-image: linear-gradient(to left,hsl(210, 78%, 56%),hsl(146, 68%, 55%));
					}

					input:focus + .slider {
					  box-shadow: 0 0 1px #2196F3;
					}

					input:checked + .slider:before {
					  -webkit-transform: translateX(20px);
					  -ms-transform: translateX(20px);
					  transform: translateX(20px);
					}

					
					.slider.round {
					  border-radius: 34px;
					}

					.slider.round:before {
					  border-radius: 50%;
					}
			body
			{
				background-color: hsl(0, 0%, 100%);
				font-family: Inter;
				color:hsl(230, 22%, 74%);
				font-size: 12px;
				font-weight: 500;
			}
			.body_dark
			{
				background-color: hsl(230, 17%, 14%);
				color:hsl(228, 34%, 66%);
			}
			#top_bg
			{
				background-color:hsl(225, 100%, 98%);
				height: 200px;
				border-bottom-left-radius: 20px;
				border-bottom-right-radius: 20px;
				padding-top: 30px;
				
			}
			.top_bg_dark
			{
				background-color: hsl(232, 19%, 15%) !important;
			}
			h1
			{
				font-weight: 700;
				font-size: 23px;
				color:hsl(230, 17%, 14%);
				margin-bottom: 0px;
			}
			.heading_dark
			{
				color:hsl(0, 0%, 100%) !important;
			}
			h2
			{
				font-size:20px;
				font-weight:700px;
				margin-bottom: 20px;
			}
			#topdeck
			{
				margin-bottom: 30px;
			}
			.card
			{
				background-color: hsl(227, 47%, 96%);
				max-width:16rem; 
			}
			.card_dark
			{
				
				background-color: hsl(228, 28%, 20%);
				max-width:16rem; 
			}
			}
			.card_big
			{
				height: 210px;
			}
			#twitter_card
			{
				border-top: 5px solid hsl(203, 89%, 53%);
			}
			#twitter
			{
				
			}
			.top_line
			{
				margin-bottom: 10px;
				margin-top: 10px;
			}
			.top_line_img
			{
				height:20px;
				width:20px;
			}
			.top_line_id
			{
				display: inline;
			}
			.number
			{
				color:hsl(230, 17%, 14%);
				font-size: 50px;
				font-weight: 700;
				margin-bottom: 0;
			}
			.follow
			{

			}
			.arrow
			{
				height:10px;
				width:10px;
			}
			.today
			{
				display:inline;
				color: #00CC00;
			}
			#facebook_card
			{
				border-top: 5px solid hsl(208, 92%, 53%);
			}
			#instagram_card
			{
				border:5px solid transparent;
			    border-image: linear-gradient(to right ,hsl(37, 97%, 70%),hsl(329, 70%, 58%));
			    border-image-slice: 1;
			    border-bottom: 0;
			    border-left: 0;
			    border-right: 0;
			}
			#youtube_card
			{
				border-top: 5px solid hsl(348, 97%, 39%);
            	
			}
			.smol_img
			{
				height:15px;
				width:15px;
				
				margin-top: 3px;
				
			}
			.smol_number
			{
				color:hsl(230, 17%, 14%);
				font-size: 30px;
				font-weight: 700;
				margin-bottom: 0;
			}
			.big_stats
			{
				margin-top: 35px;
				font-size: 10px;
				color: #00CC00;
			}